<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solictado un enlace para cambiar tu contrase침a. Lo puedes hacer con el enlace de abajo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicit칩 el cambio, por favor inore este correo.</p>
<p>Tu contrase침a no se cambiar치 hasta que acceda al enlace y cree una nueva.</p>
